{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Configuraciones</h2>
    <form method="POST" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="diasNoLaborales" class="form-label">{{ form.dias_no_laborales.label }}</label>
            {{ form.dias_no_laborales(class="form-control", id="diasNoLaborales") }}
        </div>
        <div class="mb-3">
            <label for="limiteTurnos" class="form-label">{{ form.limite_turnos.label }}</label>
            {{ form.limite_turnos(class="form-control", id="limiteTurnos") }}
        </div>
        <div class="mb-3">
            <label for="horarioInicio" class="form-label">{{ form.horario_inicio.label }}</label>
            {{ form.horario_inicio(class="form-control", id="horarioInicio") }}
        </div>
        <div class="mb-3">
            <label for="horarioFin" class="form-label">{{ form.horario_fin.label }}</label>
            {{ form.horario_fin(class="form-control", id="horarioFin") }}
        </div>
        <div class="text-center">
            {{ form.submit(class="btn btn-primary w-100") }}
        </div>
    </form>
</div>
{% endblock %}