<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutri-turnos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bienvenido a Nutri-turnos</h1>
    <nav>
        <ul>
            {% if session.get('role') == 'cliente' %}
            <li><a href="{{ url_for('cliente_disponibilidades') }}">Ver Disponibilidades</a></li>
            <li><a href="{{ url_for('nuevo_turno') }}">Reservar Turno</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            {% elif session.get('role') == 'profesional' %}
                <li><a href="{{ url_for('profesional_turnos') }}">Ver Turnos</a></li>
                <li><a href="{{ url_for('configuracion') }}">Configurar Horarios</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Iniciar Sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div>
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </div>
</body>
</html>